@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 90%;
  margin: auto;
}

/*BUTTONS*/
.button{
  background: rgb(227,59,38);
  background: linear-gradient(180deg, rgba(227,59,38,1) 44%, rgba(173,26,7,1) 93%);
  padding: 12px 24px;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  font-size: 16px;
}

/*HEADER*/
header{
  background-image: url('/src/images/bgHeader.jpg');
}

/*DISPLAY*/
.display{
  height: calc(100vh - 80px);
  background-image: url('/src/images/bg-display.svg');
  background-size: cover;
}

/*SOBRE MIM*/
.sobreMim{
  background-image: url('/src/images/bgQuemSomos.svg');
  background-size: cover;
}